/02_Catchment_Inputs/*
!/02_Catchment_Inputs/1001/

/03_Climate_Data/*
!/03_Climate_Data/bcm_01/1001_climate_files_m.zip
!/03_Climate_Data/Historical/1001_historical_climate_files.zip

/04_Example_Simulations/*
!/04_Example_Simulations/1001_NoNFM_UDM_2017/

# Notes for the Offline Version:
/OFFLINE README.txt